parameters:
	ignoreErrors:
		-
			message: '#^Method Minvws\\HorseBattery\\HorseBattery\:\:__construct\(\) has parameter \$wordlist with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HorseBattery.php

		-
			message: '#^Method Minvws\\HorseBattery\\HorseBattery\:\:getDefaultWordList\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/HorseBattery.php

		-
			message: '#^Parameter \#1 \$min \(0\) of function random_int expects lower number than parameter \#2 \$max \(int\<\-1, max\>\)\.$#'
			identifier: argument.type
			count: 1
			path: src/HorseBattery.php

		-
			message: '#^Property Minvws\\HorseBattery\\HorseBattery\:\:\$wordlist \(array\<string\>\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/HorseBattery.php

		-
			message: '#^Method Minvws\\HorseBattery\\Tests\\HorseBatteryTest\:\:expectedResultProvider\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/HorseBatteryTest.php

		-
			message: '#^Parameter \#1 \$array of function array_filter expects array, list\<string\>\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/HorseBatteryTest.php
